/* BASE */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: 'Jaldi', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #fff ;
  /* background-image:  linear-gradient(to right bottom, #B20CAB, #000); */
  /* background-image: radial-gradient(#B20CAB, #5C0759, #5C0759); */
  background-color: rgba(0, 0, 0, 1);
  /* //text-align: center;  */
  position: relative;
  background: radial-gradient(circle at 20% 40%,#580355,#000,transparent 100%),radial-gradient(circle at 60% 10%,#ef15e8,#000 100%),radial-gradient(circle at 30% 20%,#ef15e8,#000 100%),radial-gradient(circle at 2% 60%,#ef15e8,#000 100%),radial-gradient(circle at 59% 93%,#580355,#000 30%),radial-gradient(circle at 0 64%,#580355,#000 100%);
  background-repeat: repeat, repeat, repeat, repeat, repeat, repeat;
min-height: 100%;
height: 100%;
background-repeat: no-repeat;
overflow-x: hidden;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth; 
}

.circle1 {
  position: absolute;
  width: 957px;
  height: 957px;
  left: -128px;
  top: -19px;
  mix-blend-mode: normal;
  filter: blur(200px);
  z-index: -1;
   /* if div is in the code Add background for div or if img is in the code remove background for img */
  background: #580355;
}
.circle2 {
  position: absolute;
  z-index: -1;
  mix-blend-mode: normal;
  filter: blur(200px);
  width: 440px;
  height: 640px;
  left: 1048px;
  top: 89px;

  /* if div is in the code Add background for div or if img is in the code remove background for img */
  /* background: #D80ED0; */
}

.circle3 {
    position: absolute;
  width: 592px;
  height: 592px;
  left: -160px;
  top: 808px;
  mix-blend-mode: normal;
  filter: blur(200px);
  z-index: -1;
  /* if div is in the code Add background for div or if img is in the code remove background for img */
  /* background: #D80ED0; */
}

.circle4 {
  position: absolute;
  width: 750px;
  height: 957px;
  left: 756px;
  top: 784px;
  mix-blend-mode: normal;
  filter: blur(200px);
  z-index: -1;
 /* if div is in the code Add background for div or if img is in the code remove background for img */
 background: #580355;
}

.circle5 {
  z-index: -1;
  position: absolute;
  width: 989px;
  height: 989px;
  left: -494px;
  top: 2757px;
  mix-blend-mode: normal;
  opacity: 0.6;
  filter: blur(200px);
  /* if div is in the code Add background for div or if img is in the code remove background for img */
  background: #D80ED0;
}

.circle6 {
  z-index: -1;
  position: absolute;
  width: 469px;
  height: 469px;
  left: 1108px;
  top: 3450px;
  opacity: 0.6;
  mix-blend-mode: normal;
  filter: blur(200px);
 /* if div is in the code Add background for div or if img is in the code remove background for img */
  background: #580355;
}

.circle7 {
  z-index: -1;
  position: absolute;
  width: 469px;
  height: 469px;
  left: 380px;
  top: 4006px;
  mix-blend-mode: normal;
  filter: blur(200px);
   /* if div is in the code Add background for div or if img is in the code remove background for img */
  background: #580355;
}
/* 
@media screen and (max-width: 1200px) {
  .circle2 {
    position: absolute;
    z-index: -1;
    mix-blend-mode: normal;
    filter: blur(200px);
    width: 440px;
    height: 640px;
    left: 638px;
    top: 89px;
    background: #D80ED0;
  }
  .circle4 {
    position: absolute;
    width: 750px;
    height: 957px;
    left: 290px;
    top: 784px;
    mix-blend-mode: normal;
    filter: blur(200px);
    z-index: -1;
    background: #580355;
  }
  .circle6 {
    z-index: -1;
    position: absolute;
    width: 469px;
    height: 469px;
    left: 600px;
    top: 3450px;
    opacity: 0.6;
    mix-blend-mode: normal;
    filter: blur(200px);
    background: #580355;
  }
} */

/* @media screen and (max-width: 950px) {
  .circle2 {
    width: 190px;
    right: 110px;
    background: #D80ED0;
  }
  .circle4 {
    width: 10px;
    left: 30px;
  }
  .circle6 {
     left: 0px;
    width: 10px;
  }
} */
/*
@media screen and (max-width: 850px) {
  .circle2 {
    width: 90px;
    left: 500px;
    background: #D80ED0;

  }
  .circle4 {
    width: 10px;
    left: 30px;
  }
  .circle6 {
     left: 0px;
    width: 10px;
  }
}
*/
@media screen and (max-width: 400px) {
  .circle2 {
    width: 90px;
    left: 50px;
    background: #D80ED0;
    /* display: none; */

  }
  .circle4 {
    width: 10px;
    left: 30px;
    background: #D80ED0;
    /* display: none; */
  }
  .circle6 {
     left: 0px;
    width: 10px;
    background: #D80ED0;
    /* display: none; */
  }
  .circle1,
  .circle3,
  .circle5 {
    /* display: none; */
  }
  .circle1 {
    width: 30px;
    height: 957px;
    left: -128px;
    top: -19px;
  }
  .circle3 {
    position: absolute;
  width: 192px;
  height: 592px;
  left: -160px;
  }
  .circle5 {
    position: absolute;
    width: 189px;
    height: 989px;
    left: -494px;
    background: #D80ED0;
  }
}
/* -----  --------- */
/* ----- NAV --------- */
/* -----  --------- */
nav {
  margin-bottom: 7rem;
}
.nav--item {
  display: flex;
  justify-content: space-around;
  /* justify-content: center; */
  /* align-items: center; */
}

.nav-list  {
  padding-left: 5rem;
  /* margin-right: 7rem; */
  list-style: none;
}

.nav-link {
  display: flex;
  /* margin-left: 3rem; */
  align-items: center;
  /* justify-content: center; */
}

.img1 {
  /* padding-left: 4em; */
}


.item {
  text-decoration: none;
  /* //padding-right: 1rem; */
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  padding-top: 2rem;
}
.a1a:hover {
    color: #5C0759;
    transition: all 0.2s;
}
.links {
  text-align: center;
  margin-top: 3%;
  /*animation-name: moveintop;
  animation-duration: 2s;
  */
} 
.headerlogo2 {
  display: none;
}

.button {
  font-size: 1.4rem;
  color: #5C0759;
  padding: 1rem 2.5rem;
  font-family: 'Inter';
  background-color: #fff;
  border-radius: 3rem;
  margin-top: 1.5rem;
  border: 2px solid #fff; 
  font-weight: 700;
  font-family: 'Inter';
}

.button:hover {
  background-color: #5C0759;
  color: #fff;
  border: 2px solid #fff;
}


/* -----  --------- */
/* ----- HEADER --------- */
/* -----  --------- */
.header {
  /* height: 75vh; */
  /* background-color: #b20cab;  */
  /* position: relative; */
  text-align: center;
  margin-bottom: 8rem;
  background-image: url('/img/Waves\ 1.png');
  background-size: 50% 150%;
} 


.headerlogo {
  height: 4rem;
  width: auto ;
  padding-top: 1.2rem;
}

.nav-close{
  height: 2rem;
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  display: none;
  margin-right: 5%;
}
.nav-close:hover {
 color: #580355;
}

@media screen and (max-width: 1200px) {
  .button {
    padding: 0.5rem 2rem !important;    
  }
}

@media screen and (max-width: 900px) {
  .button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem !important;
  }
}

@media screen and (max-width: 855px) { 
  .nav-link {
    /* opacity: 1;
    visibility: hidden; */
  }
  .headerlogo2 {
    display: block;
  }
  .nav-close{
    position: absolute;
     top: 10px; 
    right: 10px;

    display: block;
  }
}
@media screen and (max-width: 850px) {
  .button {
    display: none !important;
  }
  .headerlogo {
    height: 3rem;
    width: auto ;
    padding-top: 1.2rem;
  } 
  .headerlogo2 {
    display: block;
  }
  .headerlogo2 {
    height: 3rem;
    width: auto ;
    padding-top: 1.2rem;
  } 
  .a1a {
    font-size: 2rem;
  }

  .nav-link {
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    top: 0px;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    justify-content: flex-start ;
    transform: translateX(100%);
    
  }

  .nav-list {
    font-size: 3rem;
    margin-top: 5rem;
    padding-left: 0rem;
  }
}
@media screen and (max-width: 400px) {
  .a1a {
    font-size: 2rem;
  }
  .nav-list {
    font-size: 3rem;
  }
}
@media screen and (max-width: 350px) {
  .a1a {
    font-size: 1rem;
  }  
  .nav-link {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    transform: translateX(100%);
  }
  .nav-list {
    font-size: 2rem;
    margin-top: 5rem;
  }
  
}
.nav--active {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}
.nav--showslide {
  transform: translateX(100%);
  transition: all 0.5s;
}
.header__text {
 
  text-align: center;
  animation-name: moveintop;
  animation-duration: 0.2s;
  text-align: center;
}

.heading__primary {
  font-family: 'Jaldi', sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 89.84px;
  line-height: 100px;
}

.header__quote {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: 'Inter';
}
@media screen and (max-width: 1200px) {
  .heading__primary {
    font-size: 65px;
    line-height: 70px;
  }
  .header__quote {
    color: white;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 950px) {
  .heading__primary {
    font-size: 45px;
    line-height: 50px;
  }
  .header__quote {
    color: white;
    font-size: 1rem;

  }
}

@media screen and (max-width: 500px) {
  .header__quote {
    color: white;
    font-size: 0.9rem;
  }
}

/* -----  --------- */
/* ----- SECTION --------- */
/* -----  --------- */

.subhead {

  display: grid;
  justify-content: center;
}

.subhead__box {
  width: 705px;
  height: 659.06px;
  background-color: #b18bb1;
  text-align: center;
  border-radius: 2rem;
  background: linear-gradient(155.09deg, rgba(255, 255, 255, 0.32) 2.17%, rgba(255, 255, 255, 0.21) 95.18%);
  box-shadow: 0px 3.24436px 19.4662px -0.81109px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(150px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 47.5281px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.subhead__box-head {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.subhead__box-header {
  font-size: 2rem;
  font-weight: 800;
  color: #000;
}
.subhead__logo {
  height: 3rem;
}

.subhead__box-text {
  font-size: 1.3rem;
  color: #3a3838;
  line-height: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #000;
  opacity: 0.6;
  font-weight: 200 !important;
  font-weight: lighter !important;
}

.subhead__image {
  height: 3rem;
  width: auto;
  background-image: linear-gradient(to right bottom, #381737, #b18bb1);
  border-radius: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.subhead__group {

  position: relative;
}

.subhead__group label {
}

.subhead__form {
  font-size: 2rem;
  border-radius: 5rem;
  width: 70%;
  height: 7rem;
  height: 115.65px;
  color: #000 ;
  text-align: right;
  outline: none;
  border: #fff;
  padding-right: 3rem;
}

.subhead__form--logo {
  position: absolute;
  top: 35%;
  z-index: 1000;
  left: 22.5%;
  height: 36.47px;
}

.subhead__form--eclipse {
  position: absolute;
  top: 25%;
  left: 20%;
}
.test-div {
  position: absolute;
  top: 23%;
  z-index: 1000;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.img1 {
  background-color: #F8921C;
}
.img2 {
  background-color: #AF2EEC;
}
.subhead__form::-webkit-input-placeholder {
 /* // text-align: right; */
  color: black;
  padding-right: 7rem;
  font-weight: 900;
}

.subhead__form:not(:last-child) {
}
@media screen and (max-width: 1200px) {
  .subhead__box {
    width: 645px;
    height: 606.1px;
  }

  .subhead__form {
    height: 86.7px;
    font-size: 1.3rem;
  }
  .test-div {
    position: absolute;
    top: 23%;
    z-index: 1000;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  .test-img1 {
    height: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .subhead__box {
    width: 545px;
    height: 506.1px;
  }

  .subhead__form {
    height: 60.7px;
    font-size: 1.3rem;
  }
  .test-div {
    position: absolute;
    top: 15%;
    z-index: 1000;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  .test-img1 {
    height: 1.5rem;
  }

  .subhead__box-header {
    font-size: 1.5rem;
    font-weight: 800;
    color: #000;
  }
  .subhead__logo {
    height: 2rem;
  }
  .subhead__box-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .subhead__box {
    width: 400px;
    height: 380.1px;
  }

  .subhead__form {
    height: 43.7px;
    font-size: 1rem;
    
  }
  .test-div {
    position: absolute;
    top: 15%;
    z-index: 1000;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .test-img1 {
    height: 1rem;
  }

  .subhead__box-header {
    font-size: 1rem;
    font-weight: 800;
    color: #000;
  }
  .subhead__logo {
    height: 1.5rem;
  }
  .subhead__box-text {
    font-size: 0.8rem;
    line-height: 15px;
  }
  .subhead__box-head {
    margin-top: 1rem;
  }
  .subhead__image {
    height: 2rem;
  }
}
@media screen and (max-width: 420px) {
  .subhead__box {
    width: 328px;
    height: 343.1px;
  }

  .subhead__form {
    height: 43.7px;
    font-size: 1rem;
    width: 75%;
  }
  .test-div {
    position: absolute;
    top: 15%;
    z-index: 1000;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .test-img1 {
    height: 1rem;
  }

  .subhead__box-header {
    font-size: 1rem;
    font-weight: 800;
    color: #000;
  }
  .subhead__logo {
    height: 1.5rem;
  }
  .subhead__box-text {
    font-size: 0.8rem;
    line-height: 15px;
  }
  .subhead__box-head {
    margin-top: 1rem;
  }
  .subhead__image {
    height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
/* //////////////////////////////////// */
/* INFORMATION */
.information {
   /* background-image: linear-gradient(to right bottom, #381737, #b18bb1); */
  height: min-content;

}

.info {
  margin-bottom: 8rem;
}

.info1 {
  /* animation-name: moveinleft;
  animation-duration: 2s; */
  animation-delay: 1s;
  margin-left: 2rem;
}

.row {
  display: flex;
  justify-content: space-evenly;  
  align-items: center;
  
}

.infotext {
  animation-delay: 1s;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  width: 700px;
  height: 322px;
  -moz-column-count: 2;
  text-align: justify;
}
.info-animate {
  animation-name: moveinright;
  animation-duration: 2s;
}

.info__box-header {
  font-size: 2rem;
  font-weight: 900;
  text-align: left;
}

.info1-img {
  animation: rotation 5s infinite linear;
  -webkit-animation: rotation 5s infinite linear;
}

.info__box-text {
  font-size: 1.4rem;
}

.info2:not(:first-child) {
  padding-top: -30.8rem;
}

.row:not(:last-child) {
  /* margin-bottom: 3rem !important; */
}

@media screen and (max-width: 1200px) {
  .information {
    margin-top: 3rem;
    /* background-color: red; */
  }
  .row {
    /* display: block; */
    justify-content: space-evenly;  
    align-items: center;
  }

  .infotext {

    width: 45%;
    width: 500px;
    height: 237px;
    -moz-column-count: 2;

  }

  .info1-img {
    width: 281px;
  }
  .info__box-header {
    font-size: 1.5rem;
  }
  .info__box-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 950px) {
  .information {
    margin-top: 3rem;
    /* background-color: blue; */
  }
  .row {
    /* display: block; */
    justify-content: space-evenly;  
    align-items: center;
    margin-top: 1rem;
    padding: 2rem;
  }

  .infotext {

    width: 45%;
    width: 400px;
    height: 237px;
    -moz-column-count: 2;

  }

  .info1-img {
    width: 281px;
  }
  .info__box-header {
    font-size: 1.3rem;
  }
  .info__box-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .info1-img {
    width: 200px;
  }
  .infotext {

    width: 45%;
    width: 400px;
    height: 237px;
    -moz-column-count: 2;

  }
}

@media screen and (max-width: 579px) {
  .info1-img {
    width: 200px;
  }
  .infotext {

    width: 100%;
     /* width: 40px; */
    height: 237px;
    -moz-column-count: 2;

  }
  .info2 {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
  }
}

/* USAGE */
.usage {
  /* height: min-content; */
  text-align: center;
  margin-top: 3rem;
}

.usage-box {
  background-color: #b18bb1;
  background: radial-gradient(circle at 0 20%,#580355,#000,transparent 100%),radial-gradient(circle at 100% 100%,#580355,#000,transparent 100%);
  height: min-content;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  border-radius: 2rem;
  /* position: absolute;
  top: 20%;
  left: 11%; */
  /* margin-top: -7rem; */

  border-right: 1px solid #fff;
  /* background: linear-gradient(155.09deg, rgba(255, 255, 255, 0.32) 2.17%, rgba(255, 255, 255, 0.21) 95.18%); */
box-shadow: 0px 3.24436px 19.4662px -0.81109px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(150px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 47.52;
}

.usage__paragraph {
  display: flex;
  justify-content: space-around;
  padding-bottom: 4rem;
}

.usages-text {
  width: 25%;
  text-align: left;
  /* text-overflow: clip; */
  text-align: justify;
}

.usage-box-header {
    padding: 3rem;
    font-size: 2rem;
    color: #fff;
}

/*  .usage-text {
  -moz-column-count: 3; 
  column-count: 3;

  -moz-column-rule:2px solid #fff;
  column-rule: 2px solid #fff;

  column-gap: 1.1rem;

  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  
  line-height: 1.2rem;
  color: #fff;
  padding-left: 2rem;
  padding-bottom: 2rem;
} 

.usages-text strong {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usages-text img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem; 
} */

.usages-texts  {
  text-align: justify;
  padding-right: 3rem;
  padding-left: 3rem;
  color: #fff;
}
.usages-texts:not(:last-child)  {
  border-right:  3px solid #fff;

}
.usages-texts p {
  /* text-align: justify; */
}

.usages-texts div {
  text-align: center;
}

.usages-texts div  h4 {
  padding-bottom: 1rem;
}
.usages-texts img {
 height: 4rem;
  
}
@media screen and (max-width: 1200px) {
  .usage-box-header {
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #fff;
  }
  .usages-texts {
    text-align: justify;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #fff;
    font-size: 1rem;
  }

  .usage__paragraph {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
  }

  .usages-texts img {
    height: 2rem;
  }
}
@media screen and (max-width: 950px) {
  .usage-box-header {
    padding: 1.3rem;
    font-size: 1.3rem;
    color: #fff;
  }
  .usages-texts {
    text-align: justify;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #fff;
    font-size: 1rem;
  }

  .usage__paragraph {
    /* display: flex; */
    /* justify-content: space-around; */
    padding-bottom: 2rem;
  }

  .usages-texts img {
    height: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .usage__paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 4rem;
  }
  .usages-texts:not(:last-child)  {
    border-right: none;
  }

  .usages-texts:not(:first-child)  {
    border-top: 1px solid #fff;
  }

  .usages-texts {
    padding: 1rem;
  }
}
/*
  QUESTION
*/
.question {
  height: max-content;
  margin-top: 4rem;
  margin-bottom: 4rem;

}

.question-box {
  width: 60%;
  height:  min-content;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid white;
}

.question-box__header {
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.question-box__list {
  font-size: 1.4rem;
  list-style: none;
  text-align: left;
  padding-left: 3rem;
  width: 93%;
  
  font-weight: 300;
  color: #fff;
  padding-bottom: 1rem;
}

span {
  color: white;
}
.paraclose {
  display: none;
}

.question-box__sublist {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height:  min-content;
  border-bottom: 1px solid #fff;
}

.question-paragraph {
   font-size: 1rem;
   flex-basis: 2000px;
   line-height:11px;
   padding-bottom: 0.5rem;
}
.aa {
  transition: all 7s;
  /* animation-name: moveintop3;
  animation-duration: 6s; */
  display: none;
  z-index: -1;
}

.parashow {
  text-align: right;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .question-box {
    width: 60%;
    /* height: 27rem; */
    height:  min-content;
  }

  .question-box__sublist {
    padding-top: 2rem;
    /* height: 5rem; */
    height:  min-content;
    font-size: 1rem;
    /* padding-bottom: 4rem; */
  }
  .question-paragraph {
    font-size: 0.8rem;
  }

  .question-box__sublist {
    border-bottom: 1px solid #fff;
  }
}

@media screen and (max-width: 950px) {
  .question-box {
    width: 60%;
    /* height: 35rem; */
    height:  min-content;
  }

  .aa{
    display: none;
  }
  .question-box__sublist {
    padding-top: 1rem;
    /* height: 1rem; */
    height:  min-content;
    font-size: 1rem;
    /* padding-bottom: 4rem; */
  }
  .question-box__list {
    font-size: 1.4rem;
    list-style: none;
    text-align: left;
    padding-left: 2rem;
    width: 93%;
    /* height: 304rem; */
    
    font-weight: 300;
    color: #fff;
    /* padding-bottom: 1rem; */
  }
  
  span {
    color: white;
  }
  .paraclose {
    display: none;
  }
  
  /* .para:target {
    opacity: 1;
    visibility: visible;
  } 
  */
  
  .question-box__sublist:not(:last-child){
    border-bottom: 1px solid #fff;
  }
  
  /* .question-box__sublist {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 7rem;
    /* font-size: 2rem; */
   */
  
  .question-paragraph {
     font-size: 1rem;
     flex-basis: 2000px;
     
    /* display: none; */
    /* opacity: 0; */
    /* visibility: hidden; */  
  }
  .aa {
    /* opacity: 0; */
    transition: all 7s;
    /* animation-name: moveintop3;
    animation-duration: 6s; */
    /* display: none; */
    z-index: -1;
  }
}
@media screen and (max-width: 550px) {

  .question-box__list {
    padding-left: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .question-box__sublist {
    padding-top: 1rem;
    height:  min-content;
    font-size: 1rem;
    /* padding-left: 1rem; */
  }
  .question-box {
    width: 60%;
    height: min-content;
  }
  .question-box__list {
    padding-left: 1rem;
  }
}



/*
PARTNERS
*/
.partners {
  /* height: 25vh; */
  height: min-content;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.partners-paragraph {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.partners-list {
  padding: 1rem;
}

.logo1 {
  margin-right: 2rem;
}

@media screen and (max-width: 1200px) {
 .logo1 {
  height: auto;
  width: 2rem;
 }
}
@media screen and (max-width: 500px) {
  .partners-list {
    margin-left: 10%;
  }
}
/*
FOOTER
*/
.footer {
  background-color: #100F0F;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer-anime {
  animation-name: moveinbottom;
  animation-duration: 1s;
  animation-delay: 10s;
  margin-bottom: 1rem;
}

.footer-header {
  padding: 2rem;
  font-size: 3rem;
  padding-bottom: 0;
}

.footer-texthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
}
.footer-text {
  padding-left: 19rem;
}

.footer-link-item {
  text-decoration: none;
  color: #fff;
}
.item {
  display: flex;
  padding-top: -2rem;
  justify-content: center;
  list-style: none;
}

.item-list {
  padding-right: 3rem;
  padding-bottom: 2.5rem;
}

.footer-link {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 1rem;
  padding-right: 2.5rem;
  padding-bottom: 2rem;
}

.footer-link__list {
  margin-right: 2rem;
}

.footer-link-style:link,
.footer-link-style:visited {
  color: #f7f7f7;
  background-color: #100F0F;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s; 
  border-bottom: 3px dotted #580355;
  /* border-bottom: 10px dotted white; */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer-link-style:hover,
.footer-link-style:active {
  color: #580355;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3); 
}
.footer-copy {
  padding-bottom: 2rem;
  padding-left: 15px;
  padding-right: 15px;
  font-size: small;
}

@media screen and (max-width: 950px) {
  .footer-text {
    padding-left: 0;
  }
  .footer-texthead {
    /* padding-left: 0; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0rem;
    margin-left: 0px;
  }
}
@media screen and (max-width: 850px) {
  .footer-text {
    padding-left: 0;
  }
}
@media screen and (max-width: 410px) {
  .footer-texthead {
    /* padding-left: 0; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 1rem;
    margin-left: 13px;
  }
  .item-list {
    padding-right: 1rem;
    padding-bottom: 2.5rem;
  }
}