.btn:link,
.btn:visited {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    /* box-shadow: 0 0.5rem 2rem; */
    cursor: pointer;
    font-weight: 700;
    margin-right: 1rem;
    padding: 1rem 3rem;
    font-family: 'Inter';
} 

.btn-full {
    background-color: white;
    border: 2px solid white;
    color: purple;
    /* padding: 0.5rem 2rem; */
    animation-name: moveinleft;
    animation-duration: 0.2s;
    transition: color 0.5s ease-out;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-property: ;
}

.btn-full:hover {
    background-color: purple;
    color: white;
}
@media screen and (max-width: 1200px) {
    .btn {
        
        padding: 0.5rem 2rem !important;  
    }
}

@media screen and (max-width: 950px) {
    .btn {
        font-size: 1rem !important;
        padding: 0.5rem 1.5rem !important;  
    }
}
  

.btn-text {
    border: 2px solid white;
    color: white;
    /* padding: 0.5rem 2rem; */
    animation-name: moveinright;
    animation-duration: 0.2s;
}

.btn-text:hover {
    background-color: #fff;
    color: purple;

}


/* BUTTON 2 */

.btn-text1:link,
.btn-text1:visited {
    font-size: 17.79px;
    color: white;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s;
    border-radius: 3rem;
    background-color: #580355;
    padding: 15px 45px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    margin-right: 6rem;

    float: right;
}

.btn-text1:hover {
    background-color:white;
    color: #580355;
}

@media screen and (max-width: 1200px) {
    .btn-text1:link,
    .btn-text1:visited {
        font-size: 15px;
        padding: 10px 35px;
    }
}

@media screen and (max-width: 850px) {
    .btn-text1:link,
    .btn-text1:visited {
        font-size: 13px;
        padding: 2px  10px;
    }
}

/* BUTTON 3 */
.btn-text2:link,
.btn-text2:visited {
    font-size: 20px;
    color: #580355;
    display: block;
    text-decoration: none;
   /* // padding: 3px; */
    transition: all 0.2s;
    border-radius: 3rem;
    background-color: white;
    padding: 1rem 3rem ;
    /* /border: 1px solid; */
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    box-shadow: 0 0.5rem 2rem #fff;
    --text-shadow: 0px 2px 5px 17px hsla(0,33%,92%,.3);
    --text-shadow-colored: 0px 2px 5px 17px var(--text-shadow-color);
    box-shadow: var(--text-ring-offset-shadow,0 0 #0000),var(--text-ring-shadow,0 0 #0000),var(--text-shadow);
    margin-left: 7rem;
    /* height: 3rem;
    /* width: 216px;
height: 66px;   
text-align: center; */ 
    /* display: flex;
    justify-content: center;
    align-items: center; */

    
    
}

.btn-text2 strong {
    font-weight: 900;
}
.btn-text2:hover {
    background-color: #100F0F; 
    color: white;
    /* box-shadow: 0 0.5rem 2rem #000; */
    /* border: 1px solid; */
}

@media screen and (max-width: 1200px) {
    .btn-text2:link,
    .btn-text2:visited {
        font-size: 16px;
        padding: 0.6rem 2rem ;
    }
}
@media screen and (max-width: 950px) {
    .btn-text2:link,
    .btn-text2:visited {
        font-size: 16px;
        padding: 0.6rem 1rem ;
        /* display: none; */
        margin-right: 2rem;
    }
}

/* BUTTON 3*/
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/* 

ANIMATIONS

*/
@keyframes moveintop {
    0% {
        transform: translateY(-28rem);
        opacity: 0;
    }
    
    100% {
        transform: translateY(2rem);
        transform: scaleX(1);
    }

}

@keyframes moveintop2 {
    0% {
        transform: translateY(-28rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@keyframes moveawaytop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-28rem); 
    }
}

@keyframes moveintop3 {
    0% {
        transform: translateY(-2rem);
    }
    100% {
        transform: translateY(0);
    }

}

@keyframes moveinleft {
    0% {
        transform: translateX(-8rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveinright {
    0% {
        transform: translateX(8rem);
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes moveinbottom {
    0% {
        transform: translateY(8rem);
    }
    100% {
        transform: translateY(0);
    }
}

    height: 3rem;
    width: 3rem;
    fill: #dbb613;
    fill: red;
    animation: rotate 2s infinite linear; }
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }